body {
   font-family: "Indie Flower", cursive;
 }

$color: #FFDA69;

section {
  width: 100%;
  height: 100vh;
  background-color: $color;
}

  .centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
    font-size: 3rem;
    font-weight: 400;

  p {
    width: 100px;

  }
}
